<%= form_with(model: schedule) do |form| %>
  <% if schedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :teacher, style: "display: block" %>
    <%= form.text_field :teacher %>
  </div>

  <div>
    <%= form.label :assistant, style: "display: block" %>
    <%= form.text_field :assistant %>
  </div>

  <div>
    <%= form.label :leader, style: "display: block" %>
    <%= form.text_field :leader %>
  </div>

  <div>
    <%= form.label :class_by_age, style: "display: block" %>
    <%= form.text_field :class_by_age %>
  </div>

  <div>
    <%= form.label :lesson, style: "display: block" %>
    <%= form.text_field :lesson %>
  </div>

  <div>
    <%= form.label :period, style: "display: block" %>
    <%= form.text_field :period %>
  </div>

  <div>
    <%= form.label :schedule_date, style: "display: block" %>
    <%= form.date_field :schedule_date %>
  </div>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.check_box :active %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
