<div id="<%= dom_id schedule %>">
  <p>
    <strong>Teacher:</strong>
    <%= schedule.teacher %>
  </p>

  <p>
    <strong>Assistant:</strong>
    <%= schedule.assistant %>
  </p>

  <p>
    <strong>Leader:</strong>
    <%= schedule.leader %>
  </p>

  <p>
    <strong>Class by age:</strong>
    <%= schedule.class_by_age %>
  </p>

  <p>
    <strong>Lesson:</strong>
    <%= schedule.lesson %>
  </p>

  <p>
    <strong>Period:</strong>
    <%= schedule.period %>
  </p>

  <p>
    <strong>Schedule date:</strong>
    <%= schedule.schedule_date %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= schedule.active %>
  </p>

</div>
