<div id="<%= dom_id teacher_registration %>">
  <p>
    <strong>Nome:</strong>
    <%= teacher_registration.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher_registration.email %>
  </p>

  <p>
    <strong>Disponibilidade:</strong>
    <%= teacher_registration.disponibility %>
  </p>

  <p>
    <strong>É auxiliar?</strong>
    <%= teacher_registration.is_assistant_too %>
  </p>

  <p>
    <strong>Turma de Preferência</strong>
    <%= teacher_registration.class_by_age %>
  </p>

</div>
