<div id="<%= dom_id leaders_registration %>">
  <p>
    <strong>Name:</strong>
    <%= leaders_registration.name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= leaders_registration.birthdate %>
  </p>

  <p>
    <strong>Disponibility:</strong>
    <%= leaders_registration.disponibility %>
  </p>

  <p>
    <strong>Is teacher too:</strong>
    <%= leaders_registration.is_teacher_too %>
  </p>

  <p>
    <strong>Is assistant too:</strong>
    <%= leaders_registration.is_assistant_too %>
  </p>

  <p>
    <strong>Class by age:</strong>
    <%= leaders_registration.class_by_age %>
  </p>

</div>
