<div id="<%= dom_id child_registration %>">
  <p>
    <strong>Name:</strong>
    <%= child_registration.name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= child_registration.birthdate %>
  </p>

  <p>
    <strong>Guardian:</strong>
    <%= child_registration.guardian %>
  </p>

  <p>
    <strong>Disease:</strong>
    <%= child_registration.disease %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= child_registration.observation %>
  </p>

</div>
